/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity> 

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input_tsv = "test/data/test.tsv"  // Replace with the path to your input BAM file
    ref_fasta = "/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa"
    outdir = "test/results"  // Replace with the desired output directory
    map_bed = "/mnt/archgen/Americas_capture/analyses/snpAD/mapper_bed/"
    accesibility_bed = "/mnt/archgen/Americas_capture/analyses/snpAD/masked_strict_1000g/"
    accesibility = true
    ref_fasta_fai = "/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa.fai"
    rsID = "/mnt/sequencedb/dbSNP/human/ALL/b155/GCF_000001405.25.renamed_contigs.gz"
}